@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
*{
  font-family: 'Oswald', sans-serif;
}
html{
  font-family: 'Oswald', sans-serif;
  background-color: #f7f8f3;
  overflow-x: hidden;
}
// svg path {
//   stroke:inherit;
//   stroke-width:inherit;
//   fill:inherit;
//   }


$cannabisl: #ced6af;
$cannabisd: #6e774a;
$black: #1c1c1b;
@mixin title1 {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin title2 {
  font-size: calc( 0.8vw + .625rem );
  text-transform: uppercase;
  font-weight: 400;
}
@mixin background-fluid{
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }


  .add-visibility{
    display: flex !important;
}

.arr-anim{
  transition: all 0.5s ease;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
